#header {
  /* background-color: red; */
  width: 75%;
  margin: 0 auto;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
}

#header h1 {
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  margin-top: 0px;
  padding-top: 23px;
  font-size: 65px;
  background: -webkit-linear-gradient(0deg, #f0a8ad, #72a8d5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}