#header {
  /* background-color: red; */
  width: 75%;
  margin: 0 auto;
  height: 100px;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  background-color: white;
}

#header h1 {
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  margin-top: 0px;
  padding-top: 23px;
  font-size: 65px;
  color: #b1a9bd;
  /* background: -webkit-linear-gradient(0deg, #ea858c, #5295cb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.filterdropdown {
  /* border: none; */
  /* background-color: transparent; */
  width: 400px;
}

#filter {
  /* background-color: red; */
  background: linear-gradient(-45deg, #ea858c, #f0a8ad, #72a8d5, #5295cb);
  background-size: 250% 250%;
  animation: gradient 10s ease infinite;
  width: 60%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 150px;
  height: 450px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#appcontainer #filter {
  /* margin: 0 auto; */
  color: white;
  font-family: 'Epilogue', sans-serif;
  font-size: 50px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px white solid;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Epilogue', sans-serif;
  font-size: 30px;
  /* display: block; */
  /* background-color: red; */
  /* min-width: 400px; */
}

label {
  margin: 0 auto;
}

#filter form {
  width: 70%;
  /* background-color: red; */
  margin: 0 auto;
  margin-top: 65px;
  line-height: 110px;
}

#identitydropdown {
  width: 81.5%;
}

#locationdropdown {
  width: 79%;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  margin-left: 575px;
  margin-top: -55px;
}

#contentcontainer {
  width: 70%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 625px;
}

#contentcontainer h1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 30px;
}

#contentcontainer i {
  font-style: normal;
  /* font-family: 'Rubik Mono One', sans-serif; */
  color:rgb(177, 169, 189);
}

#listingscontainer {
  /* background-color: red; */
  margin-top: 50px;
}

.listingcard {
  /* background-color: green; */
  /* background-color: red; */
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.listingcard h3 {
  /* color: green; */
  color: #b1a9bd;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 25px;
  /* padding: 25px 25px 0 25px; */
  width: 85%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.listingcard p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-family: 'Epilogue', sans-serif;
  margin-bottom: 15px;
}

.listingcard h5 {
  width: 80%;
  /* margin-left: 50px; */
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: 'Epilogue', sans-serif;
  /* font-weight: bold; */
  font-size: 18px;
}

.listingcard h6 {
  display: inline;
}

.listingcard h4 {
  text-align: center;
  user-select: none;
  background-color: rgba(177, 169, 189, 0.8);
  width: 150px;
  padding: 8px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  /* font-family: 'Rubik Mono One', sans-serif; */
  /* font-family: 'Rubik Mono One', sans-serif; */
}

.listingcard h4:hover {
  background-color: rgb(177, 169, 189);
}

.listingcard form {
  /* background-color: green; */
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.listingcard form button {
  /* background-color: red; */
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  border: none;
  background-color: rgba(177, 169, 189, 0.8);
  /* padding: 10px 20px 10px 20px; */
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  /* font-family: 'Epilogue', sans-serif; */
  color: white;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-family: 'Segoe UI', sans-serif;
  font-weight: bolder;
  font-size: 12px;

}

.listingcontact {
  /* background-color: green; */
  margin: 0 auto;
  /* width: 50%; */
  text-align: center;
}

.listingcontact p {
  display: inline;
  margin: 0 20px 0 20px;
}

.listingcontact a {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  text-decoration: underline;
  color: black;
}

.listingcontact h6 {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
}

.commentcard {
  background-color: yellow;
  width: 70%;
  margin: 0 auto;
}


#underneathfilter {
  /* background-color: red; */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 60%;
  position: absolute;
  margin-top: 610px;
  /* display: inline-block; */
  /* display: inline; */
  text-align: center;
}

#underneathfilter h1 {
  /* color: green; */
  display: inline;
  margin: 10px;
  font-family: 'Epilogue', sans-serif;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

#underneathfilter a {
  /* text-align: center; */
  font-family: Helvetica, sans-serif;
  /* font-weight: lighter; */
  cursor: default;
  font-weight: lighter;
}

#logintab {
  position: absolute;
  /* background-color: red; */
  font-family: 'Epilogue', sans-serif;
  font-size: 23px;
  margin-left: 80%;
  margin-top: -115px;
  cursor: pointer;
  user-select: none;
}

.headerline {
  width: 1px;
  height: 50px;
  background-color: black;
  position: absolute;
}

#rightline {
  margin-left: -70px;
  /* margin-top: -20px; */
}

#loginform {
  cursor: default;
  background-color: white;
  font-size: 18px;
  position: absolute;
  width: 250px;
  /* height: 225px; */
  max-height: 225px;
  min-height: 150px;
  margin-left: -70px;
  margin-top: -1.5px;
  border: 1px solid black;
  border-top: none;
}

#loginform strong {
  font-weight: normal;
  text-decoration: underline;
}

#loginform p {
  /* color: red; */
  /* margin-left: 22px; */
  /* margin-bottom: 5px; */
  margin: 25px 0 10px 22px;
}

#loginform input {
  /* background-color: green; */
  width: 70%;
  margin-left: 32px;
}

#loginwelcome {
  text-align: center;
  margin-left: -20px;
}

#loginwelcome strong {
  cursor: pointer;
}